* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}



img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 500;
}


.wrapper {
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.basic{
	padding: 20px 10px;
	border-bottom: 2px solid #808080 ;
}
.basicText{
	font-size: 20px;
	text-align: center;
	font-weight: 200;
}
.basicText {
	margin: 0 0 10px 0;
}
.header {
	padding: 20px 0;
	
}
.header__row{
	display: flex;
	justify-content: center;
}
.header__img {
	
	
}
.header__img img{
	width: 100%;
	border-radius: 50%;

}
.header__info {
	padding: 0 0 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.header__name {
	font-size: 50px;
	margin: 0 0 20px 0;
}
.header__job {
	font-size: 25px;
}
.main {}
.info {}
.info__title{
	display: none;
}
.info__contacts {
	text-align: center;
}
.contacts__title {}
.title {
	font-size: 30px;
	text-align: center;
	margin: 0 0 10px 0;

}

.contacts__text{
	display: inline-block;
	margin: 0 auto;
}
.contacts__text ul{
	display: inline-block;
}
.contacts__text li{
	margin: 0 0 10px 0;
	text-align: left;

}
.info__about {}
.about__title {}
.about__text {}
.info__skills {
	text-align: center;
}
.skills__title {}
.skills__text {
	display: inline-block;
	margin: 0 auto;
}
.skills__text li{
	margin: 0 0 10px 0;
	text-align: left;
}
.info__projects {}
.info__title {}
.info__text {}
.info__experience {}
.experience__title {}
.experience__text  {}
.experience__text p{
	margin: 0 0 10px 0;
}
.experience__text p:first-child{
	font-style: italic;
}
.info__education {}
.education__title {}
.education__text {}
.education__text p{
	margin: 0 0 10px 0;
	
}
.education__text p:first-child{
	font-style: italic;
}
.info__language {}
.language__title {}
.language__text {}
.language__text p{
	margin: 0 0 10px 0;
}
.language__text p:first-child{
	font-style: italic;
}

.footer {
border-bottom: none;
}
.footer__row{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer__year {
	font-size: 20px;
	font-weight: 700;
}
.footer__rs {}
.footer__rs img{
	width: 100px;
}
.footer__git img{
	width: 150px;
}